<div class="row">
    <div class="col-12" *ngIf="travelExpense$ | async as travelExpense; else loading">


        <h2>Vis afregning <small>({{travelExpense?.id | slice:0:8}}..)</small></h2>


        <app-travel-expense-form [travelExpense]="travelExpense"></app-travel-expense-form>



        <div class="card my-2">
            <div class="card-body">

                <div class="row pt-3" *ngIf="travelExpense && travelExpense.allowedFlows && !travelExpenseIsMoved">
                    <div class="col-3"><p>Ryk afregning til ny stadie:</p></div>
                    <div class="col" *ngFor="let allowedFlow of travelExpense.allowedFlows">
                        <button class="btn btn-primary" (click)="moveToFlowStep(travelExpense, allowedFlow)">{{ allowedFlow.description }}</button>
                    </div>
                </div>

                <div *ngIf="travelExpenseIsMoved">Afregningen er rykket til næste stadie</div>
            </div>
        </div>

        <small>
            <div>
                Info til fejlfinding:
                <pre>{{ travelExpense | json}}</pre>
            </div>
        </small>


    </div>
</div>


<ng-template #loading>Henter data</ng-template>
