<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col"><h2>Rejseafregninger</h2></div>
            <div class="col">
                <button class="btn btn-primary float-right" [routerLink]="'create'">Opret ny</button>
            </div>
        </div>



        <table class='table table-striped' aria-labelledby="tableLabel">
            <thead>
            <tr>
                <th style="width: 30%">Description</th>
                <th>ID</th>
                <th>Assigned Payment</th>
                <th>Certified</th>
                <th>Reported Done</th>
                <th>Stage</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngIf="travelExpenses$ | async as travelExpenses; else loading">
                <tr *ngFor="let travelExpense of travelExpenses">
                    <td>{{ travelExpense.description }}</td>
                    <td>{{ travelExpense.id | slice:0:8 }}..</td>
                    <td>{{ travelExpense.isAssignedPayment }}</td>
                    <td>{{ travelExpense.isCertified }}</td>
                    <td>{{ travelExpense.isReportedDone }}</td>
                    <td>{{ travelExpense.stageText }}</td>
                    <td>
                        <a [routerLink]="'/travel-expenses/' + travelExpense.id">Show/edit</a>
                    </td>
                </tr>
            </ng-container>

            </tbody>
        </table>
    </div>
</div>

<ng-template #loading>
    <tr>
        <td colspan="7">Henter data...</td>
    </tr>
</ng-template>
