<div class="row">
    <div class="col-12">
        <div class="row mb-3">
            <div class="col"><h2>Rejseafregninger</h2></div>
            <div class="col">

            </div>
        </div>


        <div class="row">
            <div class="col-3">
                <input
                    type="text"
                    class="form-control form-control-sm"
                    placeholder="Søg på beskrivelse..."
                    (keyup)="updateFilter($event)"
                />
            </div>
            <div class="col-2">
                <select class="form-control form-control-sm">
                    <option selected>År 2020</option>
                    <option>År 2021</option>
                </select>
            </div>
            <div class="col-2">
                <select class="form-control form-control-sm">
                    <option selected>Status: Oprettet</option>
                    <option>Status: Anvist til betaling</option>
                </select>
            </div>
            <div class="col-4 text-right mb-3 offset-1">
                <button class="btn btn-sm btn-primary" [routerLink]="'create'">Opret ny</button>
            </div>
        </div>

        <ngx-datatable
            #table
            class="material"
            [columnMode]="ngxDatatableColumnMode.flex"
            [headerHeight]="50"
            [footerHeight]="50"
            rowHeight="auto"
            [limit]="5"
            [rows]="travelExpensesRows"
        >


            <ngx-datatable-column name="Beskrivelse" prop="purpose" [flexGrow]="1" [resizeable]="false" [sortable]="false">
            </ngx-datatable-column>

            <ngx-datatable-column name="Tildelt udbetaling" prop="description" [flexGrow]="1" [resizeable]="false" [sortable]="false">
                <ng-template let-row="row"  ngx-datatable-cell-template>
                    {{ row.isAssignedPayment ? 'Tildelt' : 'Ikke tildelt' }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Certificeret" prop="description" [flexGrow]="1" [resizeable]="false" [sortable]="false">
                <ng-template let-row="row"  ngx-datatable-cell-template>
                    {{ row.isCertified ? 'Certificeret' : 'Ikke certificeret' }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Færdigmeldt" prop="description" [flexGrow]="1" [resizeable]="false" [sortable]="false">
                <ng-template let-row="row"  ngx-datatable-cell-template>
                    {{ row.isReportedDone ? 'Færdigmeldt' : 'Ikke Færdigmeldt' }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Stadie" prop="stageText" [flexGrow]="1" [resizeable]="false" [sortable]="false">
            </ngx-datatable-column>
            <ngx-datatable-column name="" [flexGrow]="1" [resizeable]="false" [sortable]="false">
                <ng-template let-row="row"  ngx-datatable-cell-template>
                    <a [routerLink]="'/travel-expenses/' + row.id">Vis / Rediger</a>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>

    </div>
</div>
