<div class="row">
    <div class="col-12">
        <h2>Opret ny rejseafregning</h2>
    </div>
    <div class="col-12">
        <form [formGroup]="form">
            <app-travel-expense-form #travelExpenseFormComponent formControlName="travelExpense"></app-travel-expense-form>
        </form>
    </div>

    <div class="row pt-3">
        <div class="col text-right">
            <button class="btn btn-primary" type="button" (click)="save()">Gem afregning</button>
        </div>
    </div>

</div>
