
<p *ngIf="!travelExpenses"><em>Loading...</em></p>

<div *ngIf="travelExpenses && !selectedTravelExpense">
  <h1 id="tableLabel">Liste af expenses</h1>

  <p>This component demonstrates fetching data from the server.</p>

  <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
    <tr>
      <th>Description</th>
      <th>ID</th>
      <th>Is Assigned Payment</th>
      <th>Is Certified</th>
      <th>Is Reported Done</th>
      <th>Stage</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let travelExpense of travelExpenses" (click)="getById(travelExpense.id)">
      <td>{{ travelExpense.description }}</td>
      <td>{{ travelExpense.id }}</td>
      <td>{{ travelExpense.isAssignedPayment }}</td>
      <td>{{ travelExpense.isCertified }}</td>
      <td>{{ travelExpense.isReportedDone }}</td>
      <td>{{ travelExpense.stageText }}</td>
    </tr>
    </tbody>
  </table>

  <div>
    <button (click)="createTravelExpense()">Create new travel expense</button>
  </div>
</div>



<div *ngIf="selectedTravelExpense">

  <div>
    <button (click)="goBack()">Go Back</button>
  </div>



  <div class="card mt-3">
    <div class="card-body">
      <h2>Selected Travel Expense:</h2>
      <dl>
        <dt>ID</dt>
        <dd>{{ selectedTravelExpense.id }}</dd>

        <dt>Description</dt>
        <dd><input [(ngModel)]="descriptionInput"></dd>

        <button class="btn btn-primary" (click)="updateTravelExpense()">Update description</button>

        <dt>Assigned Payment</dt>
        <dd>{{ selectedTravelExpense.isAssignedPayment }}</dd>

        <dt>Certified</dt>
        <dd>{{ selectedTravelExpense.isCertified }}</dd>

        <dt>Reported Done</dt>
        <dd>{{ selectedTravelExpense.isReportedDone }}</dd>

        <dt>Stage</dt>
        <dd>{{ selectedTravelExpense.stageText }}</dd>
      </dl>

      <div *ngIf="nextFlowStep">
        <button class="btn btn-primary" (click)="moveToNextFlowStep()">{{ nextFlowStep.key }}</button>
      </div>

    </div>

  </div>


  <h2 class="mt-4">Flow steps</h2>
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="flowSteps">
    <thead>
    <tr>
      <th>Key</th>
      <th>fromStageText</th>
      <th>fromStageId</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let flowStep of flowSteps">
      <td>{{ flowStep.key }}</td>
      <td>{{ flowStep.fromStageText }}</td>
      <td>{{ flowStep.fromStageId }}</td>
    </tr>
    </tbody>
  </table>

</div>

