<configuration>
<system.webServer>
  <security>
    <requestFiltering>
      <requestLimits maxQueryString="32768"/>
    </requestFiltering>
  </security>
  <rewrite>

    <rules>

       <rule name="LowerCaseRule1" stopProcessing="false">
            <match url="^~/polapi$" ignoreCase="true" />
            <action type="None" />
        </rule>
       <rule name="LowerCaseRule2" stopProcessing="false">
            <match url="^~/idp$" ignoreCase="true" />
            <action type="None" />
        </rule>

      <rule name="Angular Routes" stopProcessing="true">

        <match url=".*" />

        <conditions logicalGrouping="MatchAll">

          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />

          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />

        </conditions>

        <action type="Rewrite" url="/" />

        <!--<action type="Rewrite" url="/" />-->

      </rule>

    </rules>

  </rewrite>
</system.webServer>
</configuration>
