<div class="card">

    <div class="card-body">
        <form [formGroup]="travelExpenseFormGroup" class="needs-validation" novalidate>
            <div class="row">
                <div class="col">
                    <h5>Møde- og rejseoplysninger</h5>
                </div>
            </div>
            <div class="form-row mb-2">
                <div class="col-md-6">
                    <label>Udrejsetidspunkt</label>
                    <div class="form-row">
                        <div class="col">
                            <input class="form-control" formControlName="startDate" placement="bottom"
                                   ngbDatepicker [showWeekNumbers]="true" (click)="datepickerStart.toggle()"
                                   #datepickerStart="ngbDatepicker">
                        </div>
                        <div class="col">
                            <ngb-timepicker size="small" [spinners]="false"
                                            formControlName="startTime"></ngb-timepicker>
                        </div>
                    </div>
                    <div class="invalid-feedback">
                        Vælg en dato
                    </div>

                    <label>Hjemkomsttidspunkt</label>
                    <div class="form-row">
                        <div class="col">
                            <input class="form-control" formControlName="endDate" placement="bottom"
                                   ngbDatepicker [showWeekNumbers]="true" (click)="datepickerEnd.toggle()"
                                   #datepickerEnd="ngbDatepicker">
                        </div>
                        <div class="col">
                            <ngb-timepicker size="small" [spinners]="false" formControlName="endTime"></ngb-timepicker>
                        </div>
                    </div>
                    <div class="invalid-feedback">
                        Vælg en dato
                    </div>
                </div>
                <div class="col-md-6">
                    <label>Udvalg</label>
                    <select class="form-control" formControlName="committeeId">
                        <option [ngValue]="null">Vælg</option>
                        <option *ngFor="let commitee of commitees" [ngValue]="commitee.id">{{commitee.name}}</option>
                    </select>
                    <label>Formål</label>
                    <select class="form-control" formControlName="committeeId">
                        <option [ngValue]="null">Vælg</option>
                        <option></option>
                    </select>
                    <input type="text" class="form-control" formControlName="purpose">
                </div>
            </div>

            <hr>

            <div class="form-row mb-2">
                <div class="col-md-6" formGroupName="destinationPlace">
                    <label>Mødested</label>
                    <div class="form-row small">
                        <div class="col-8">
                            Vej
                            <input class="form-control" type="text" formControlName="street" placeholder="Vejnavn">
                        </div>
                        <div class="col-2">
                            Husnummer
                            <input class="form-control" type="text" formControlName="streetNumber"
                                   placeholder="Husnummer">
                        </div>
                        <div class="col-2">
                            Postnummer
                            <input class="form-control" type="text" formControlName="zipCode"
                                   placeholder="Postnummer">
                        </div>
                    </div>
                </div>
                <div class="col-md-6" formGroupName="departurePlace">
                    <label>Udrejsested</label>

                    <div class="form-row small">
                        <div class="col-8">
                            Vej
                            <input class="form-control" type="text" formControlName="street" placeholder="Vejnavn">
                        </div>
                        <div class="col-2">
                            Husnummer
                            <input class="form-control" type="text" formControlName="streetNumber"
                                   placeholder="Husnummer">
                        </div>
                        <div class="col-2">
                            Postnummer
                            <input class="form-control" type="text" formControlName="zipCode"
                                   placeholder="Postnummer">
                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-6" formGroupName="arrivalPlace">
                    <label>Hjemkomststed</label>
                    <div class="form-row small">
                        <div class="col-8">
                            Vej
                            <input class="form-control" type="text" formControlName="street" placeholder="Vejnavn">
                        </div>
                        <div class="col-2">
                            Husnummer
                            <input class="form-control" type="text" formControlName="streetNumber"
                                   placeholder="Husnummer">
                        </div>
                        <div class="col-2">
                            Postnummer
                            <input class="form-control" type="text" formControlName="zipCode"
                                   placeholder="Postnummer">
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col">
                    <h5>Afregningsoplysninger</h5>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-row" formGroupName="transportSpecification">
                        <div class="col-12">
                            <label>Kørsels godtgørelse</label>
                            <select class="form-control" formControlName="method">
                                <option [ngValue]="null">Ingen</option>
                                <option [ngValue]="'car'">Kørsel i egen bil</option>
                                <option [ngValue]="'bike'">Kørsel på cykel</option>
                            </select>
                            <label>Nummerplade</label>
                            <input class="form-control" type="text" placeholder="Nummerplade"
                                   formControlName="numberPlate">
                        </div>
                        <div class="col-12">
                            <label>Antal KM (beregnet)</label>
                            <input class="form-control" type="number" formControlName="kilometersCalculated">
                        </div>
                        <div class="col-12">
                            <label>Antal KM</label>
                            <input class="form-control" type="number" formControlName="kilometersCustom">
                        </div>
                        <div class="col-12">
                            <label>Antal km (skattepligtige)</label>
                            <input class="form-control" type="number" formControlName="kilometersTax">
                        </div>
                        <div class="col-12">
                            <label>Antal km (over 20.000)</label>
                            <input class="form-control" type="number" formControlName="kilometersOverTaxLimit">
                        </div>
                    </div>



                </div>
                <div class="col-md-6">
                    <div class="form-row">
                        <div class="col-12">
                            <label>Kursus/Seminar</label>
                            <select class="form-control" formControlName="isEducationalPurpose">
                                <option [ngValue]="true">Ja</option>
                                <option [ngValue]="false">Nej</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <label>Udgifter (bilag vedhæftes)</label>
                            <input class="form-control" type="number" formControlName="expenses">
                        </div>
                        <div class="col-md-12" formGroupName="foodAllowances">
                            <label>Gange fradrag i timedagpenge for</label>
                            <div class="form-row small">
                                <div class="col-4">
                                    Morgenmad
                                    <input class="form-control" type="number" formControlName="morning">
                                </div>
                                <div class="col-4">
                                    Frokost
                                    <input class="form-control" type="number" formControlName="lunch">
                                </div>
                                <div class="col-4">
                                    Aftensmad
                                    <input class="form-control" type="number" formControlName="dinner">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" formGroupName="dailyAllowanceAmount">
                            <label>Antal Diæter</label>
                            <div class="form-row small">
                                <div class="col-6">
                                    Under 4 timer
                                    <input class="form-control" type="number" formControlName="daysLessThan4hours">
                                </div>
                                <div class="col-6">
                                    Over 4 timer
                                    <input class="form-control" type="number" formControlName="daysMoreThan4hours">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col">
                    <h5>Specificering af tabt arbejdsfortjeneste</h5>
                </div>
            </div>

            <div class="row" formArrayName="lossOfEarnings">
                <ng-container *ngFor="let control of lossOfEarnings.controls; index as i">
                    <div class="col-3">
                        <label>{{ control.get('date').value }} sats {{ control.get('amount').value }} kr:</label>
                    </div>
                    <div class="col-1">
                        <div [formGroupName]="i">
                            <input formControlName="numberOfHours" class="form-control form-control-sm" type="number" min="0" />
                        </div>
                    </div>
                </ng-container>
            </div>

            <hr>

            <div class="row">
                <div class="col">
                    <h5>Bemærkninger</h5>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <textarea type="text" class="form-control" formControlName="description" rows="3"></textarea>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col">
                    <h5>Til udbetaling</h5>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <table class="table table-sm table-striped small">
                        <thead>
                            <tr class="text-center">
                                <th>Art</th>
                                <th>Enheder</th>
                                <th>Sats</th>
                                <th>Beløb</th>
                                <th>Lønart</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Timedagpenge</td>
                            <td class="text-right">3 døgn og 20 timer</td>
                            <td class="text-right">521,00 kr.</td>
                            <td class="text-right">1.997,17 kr.</td>
                            <td class="text-right">907</td>
                        </tr>
                        <tr>
                            <td>I alt</td>
                            <td class="text-right"></td>
                            <td class="text-right"></td>
                            <td class="text-right">1.997,17 kr.</td>
                            <td class="text-right"></td>
                        </tr>
                    </table>
                </div>
            </div>

            Gyldig: {{
 travelExpenseFormGroup.valid
            }}

            <!--<div class="row pt-3">
                <div class="col text-right">
                    <button class="btn btn-primary" type="button" (click)="save()">Gem afregning</button>
                </div>
            </div>-->
            <!--<pre>Form data:
            {{ travelExpenseFormGroup.getRawValue() | json }}</pre>-->
        </form>
    </div>

</div>



